<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
     {% csrf_token %}
     <input type="text"  name="num1" value="{{result}}" />
    
     <br><br>
     <input type="submit" name="btnsubmit" value="1" />
     <input type="submit" name="btnsubmit" value="2" />
     <input type="submit" name="btnsubmit" value="+" />
     <input type="submit" name="btnsubmit" value="-" />
     <input type="submit" name="btnsubmit" value="*" />
     <input type="submit" name="btnsubmit" value="/" />
     <input type="submit" name="btnsubmit" value="=" />

    </form>
    {{result}}
</body>
</html>