<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="radio"  name="course" value="basic" />basic
       
        <br><br>
        <input type="radio"  name="course" value="advance" />advance
        <br><br>
        <input type="submit" name="btnsubmit" value="Submit" />
        <br><br>
        </form>  
        <select multiple>
       {% for data in res %}
         <option>{{data}}</option>
       {% endfor %}

        </select>
</body>
</html>