<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All User Information</h1>   <a href="/helloapp/logoutuser">Logout</a>
    <hr>
    
    <table border="1">
        <tr><th>Username</th><th>Password</th><th>Mobileno</th><th>Fullname</th></tr>
        {%  for data in key %}
        <tr><td>{{data.username}} </td><td> {{data.emailid}}</td><td> {{data.mobileno}}</td><td>{{data.fullname}}</td></tr>

        {% endfor %}
    </table>
   
    
</body>
</html>